<!--ARTICLE ITEM SIMPLE-->
<div class="artc-item">
   <div class="artc-item-image">
      <a href="#">
         <img src="@img/dapp_latest.jpg" alt="dappexpert">
      </a>
   </div>
   <h3 class="title title--bgtransp">
      <a href="#">Pangolin Exchange</a>
   </h3>
</div>
<!--ARTICLE ITEM VERT-->
<div class="artc-item artc-item-vert">
   <div class="artc-item-image">
      <a href="#">
         <img src="@img/dapp_latest.jpg" alt="dappexpert">
      </a>
   </div>
   <h3 class="title title--bgtransp">
      <a href="#">Pangolin Exchange</a>
   </h3>
</div>
