<!--ARTICLE ITEM SIMPLE-->
<div class="artc-item">
   <div class="artc-item-image">
      <a href="#">
         <img src="@img/dapp_latest.jpg" alt="dappexpert">
      </a>
   </div>
   <h3 class="title title--bgtransp">
      <a href="#">Pangolin Exchange</a>
   </h3>
</div>
<!--ARTICLE ITEM VERT-->
<div class="artc-item artc-item--vert">
   <div class="artc-item-image artc-item-image--br">
      <a href="#">
         <img src="@img/dapp_latest.jpg" alt="dappexpert">
      </a>
   </div>
   <div class="subtitle"><a href="#">Learn &amp; Earn</a></div>
   <h4 class="title">
      <a href="#">Is a DAO better Than a Corporation</a>
   </h4>
</div>
<!--ARTICLE ITEM ROW-->
<div class="artc-item artc-item--row">
   <div class="artc-item__left">
      <img src="@img/whatsnew1.jpg" alt="article1">
   </div>
   <div class="artc-item__right">
      <h3 class="title"><a href="#">Как NFT становятся популярными?</a></h3>
      <p>Yield Optimizer that provides the user-oriented ...</p>
      <span class="flame-ic">1</span>
      <span class="percentVal percentVal--down">26.68%</span>
   </div>
</div>
<!--ARTICLE COLUMN WITH PAGE VIEWS-->
<div class="artc-item artc-item--vert">
   <div class="artc-item-image artc-item-image--br">
      <a href="#">
         <img src="@img/hotNews1.jpg" alt="dappexpert">
      </a>
   </div>
   <h3 class="title">
      <a href="#">Bitcoin Suisse and Worldline have launched a solution for Bitcoin...</a>
   </h3>
   <div class="post-meta">
      <div class="post-comment-pageviews">
         <span>1 098</span>
      </div>
      <div class="post-details-meta-date">
         <span>20 Aug, 2021</span>
      </div>
   </div>
</div>
<!--ARTICLE COLUMN WITH PAGE VIEWS ONLY TITLE-->
<div class="artc-item artc-item--vert artc-item-only-title">
   <div class="artc-item-image artc-item-image--br">
      <a href="#">
         <img src="@img/hotNews1.jpg" alt="dappexpert">
      </a>
   </div>
   <h3 class="title">
      <a href="#">Bitcoin Suisse and Worldline have launched a solution for Bitcoin...</a>
   </h3>
   <div class="post-meta">
      <div class="post-comment-pageviews">
         <span>1 098</span>
      </div>
      <div class="post-details-meta-date">
         <span>20 Aug, 2021</span>
      </div>
   </div>
</div>