<div class="container">
   <ul class="ulN lineVert">
      <li>Крупнейшая криптобиржа по объему торгов: Binance</li>
      <li>Биржа криптовалют Bybit</li>
      <li>Лучшее для продвинутых трейдеров: Kraken</li>
      <li>Лучшая криптобиржа для начинающих: Coinbase</li>
      <li>Криптобиржа FTX</li>
      <li>Заключение</li>
   </ul>


   <button class="btn btn-grad-brd">
      <div class="btn-grad-brd-in">
         <span>read more</span>
      </div>
   </button>

   <button class="btn btn-grad-brd btn-grad-bg">
      <div class="btn-grad-brd-in">
         <span>SHOW ON PAGE</span>
      </div>
   </button>


</div>