<div class="page">
   <div class="container">
      <div class="page-breadcrumb">
         <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
               <a href="#">Category name</a>
            </li>
            <li class="breadcrumb-item active">
               <a href="#">Decentralized exchanges</a>
            </li>
         </ol>
      </div>
      <h1 class="title page__title">Page title</h1>
      <div class="page__content">
         page content - section
      </div>
   </div>
</div>