<section class="section section-tab">
   <div class="container">
      <div class="section__head section-tab__head">
         <h3 class="title">Section title </h3>
         <ul class="nav nav-pills section__pills" role="tablist">
            <li class="nav-item ">
               <a class="nav-link  active " id="section-socialSignal-tab1" data-toggle="pill"
                  href="#section-socialSignal-dapp-pill" role="tab" aria-selected="true">
                  Dapp </a>
            </li>
            <li class="nav-item">
               <a class="nav-link " id="section-socialSignal-tab2" data-toggle="pill"
                  href="#section-socialSignal-dapp-blockchain" role="tab" aria-selected="true">
                  Blockchains </a>
            </li>
            <li class="nav-item">
               <a class="nav-link " id="section-socialSignal-tab3" data-toggle="pill"
                  href="#section-socialSignal-dapp-crypto" role="tab" aria-selected="true">
                  Cryptocurrencies </a>
            </li>
            <li class="nav-item">
               <a class="nav-link " id="section-socialSignal-tab4" data-toggle="pill"
                  href="#section-socialSignal-dapp-deFi" role="tab" aria-selected="true">
                  DeFi </a>
            </li>
            <li class="nav-item">
               <a class="nav-link " id="section-socialSignal-tab5" data-toggle="pill"
                  href="#section-socialSignal-dapp-markets" role="tab" aria-selected="true">
                  Stock Markets </a>
            </li>
            <li class="nav-item">
               <a class="nav-link " id="section-socialSignal-tab6" data-toggle="pill"
                  href="#section-socialSignal-dapp-channel" role="tab" aria-selected="true">
                  Youtube Channels </a>
            </li>

         </ul>
         <a href="#" class="link">View All</a>
      </div>
      <div class="section__content">
         <div class="tab-content">
            <div class="tab-pane" id="section-socialSignal-dapp-pills" role="tabpanel">
               <div class="section-tab__content">
                  <!--<h2 class="title">tab content title</h2>-->
                  11
               </div>
            </div>
            <div class="tab-pane" id="section-socialSignal-dapp-blockchain" role="tabpanel">
               <div class="section-tab__content">
                  <!--<h2 class="title">tab content title</h2>-->
                  22
               </div>
            </div>
            <div class="tab-pane" id="section-socialSignal-dapp-crypto" role="tabpanel">
               <div class="section-tab__content">
                  <!--<h2 class="title">tab content title</h2>-->
                  33
               </div>
            </div>
            <div class="tab-pane" id="section-socialSignal-dapp-deFi" role="tabpanel">
               <div class="section-tab__content">
                  <!--<h2 class="title">tab content title</h2>-->
                  44
               </div>
            </div>
            <div class="tab-pane" id="section-socialSignal-dapp-markets" role="tabpanel">
               <div class="section-tab__content">
                  <!--<h2 class="title">tab content title</h2>-->
                  55
               </div>
            </div>
            <div class="tab-pane" id="section-socialSignal-dapp-channel" role="tabpanel">
               <div class="section-tab__content">
                  <!--<h2 class="title">tab content title</h2>-->
                  66
               </div>
            </div>
         </div>
      </div>
   </div>
   </div>
</section>