//block grid for articles
.bl-grid
   row-gap: 0
   +laptop
      display: grid
      +adaptiv-value("row-gap", 20, 20)

   &__top
      display: grid
      +adaptiv-value("column-gap", 20, 20)
      +adaptiv-value("row-gap", 20, 20)
      width: 100%
      position: relative
      grid-template-columns: 1fr
      display: none
      +laptop
         display: grid
         grid-template-columns: repeat(3, 1fr)   

.bl-grid
   .carousel-inner
      display: block
      +laptop
         display: grid
         grid-template-columns: repeat(4, 1fr)
         +adaptiv-value("column-gap", 30, 0)

         
   .carousel-item
      +laptop
         display: block
      .artc-item--vert
         display: grid
         grid-template-columns: calc(64px + 336 * ((100vw - 320px)/ 1440)) auto
         +adaptiv-value-imp("grid-column-gap", 40, 7)
         grid-template-rows: 20px auto
         +laptop
            display: flex   
            align-items: flex-start  
         
         .title
            grid-column: 2    
            align-self: flex-start
            +laptop
               grid-column: unset
         .artc-item-image
            grid-row: span 2

   .carousel-control-prev, .carousel-control-next
      +laptop
         display: none