#cryptotable 
    .dapp-img-mini-wrap 
        border-radius: 50%
        & img
            margin-right: 0

    .shortname 
        color: $grey6
        text-transform: uppercase
        margin-left: 25px
        +adaptiv-value("margin-left", 25, 15)

    .star
        +adaptiv-value("width", 20, 20)
        +adaptiv-value("height", 20, 20)
        fill: #323232
        &--red
            fill: #930000