
.dapp
   &__top
      display: flex
      margin-bottom: 40px
      flex-direction: column
      +tablet
         flex-direction: row

   &-search
      display: flex

      &__in
         display: flex
         flex-direction: column
         flex-grow: 1
         margin-right: 0
         +tablet
            margin-right: 16px

      &-wrap
         flex-grow: 1
         margin-top: 16px
         margin-left: 0
         +tablet
            +adaptiv-value("margin-left", 65, 10)

      &__top
         display: flex
         margin-bottom: 24px
         +adaptiv-value("margin-right", 54, 70)
         +tablet
            margin-bottom: 24px
            margin-right: 0
         
            
      &__btm
         display: flex
         flex-direction: column
         +phone
            flex-direction: row
         &>div
            flex-grow: 1

      .dropdown-select--lg:not(:last-child)
         margin-right: 16px

      .search-label 
         flex-grow: 1
         background-color: $grey1
         border-radius: $field_br
         padding-left: 10px
         padding-right: 7px
         display: flex
         align-items: center
         justify-content: space-between
         margin: 0
      .search-field
         background: transparent

   .btn-search-filter
      position: absolute
      right: #{$contPlMob}+px
      +tablet
         position: static

      &>span
         display: none
         +tablet
            display: block


   .search-wrap
      flex-grow: 1

   .search-field
      +adaptiv-value("padding-top", 11, 11)
      +adaptiv-value("padding-bottom", 12, 12)


   .pagination-wrap
      display: flex
      justify-content: space-between
      margin: 10px 0


   table.ranktable 
      td, th
         &:nth-child(2)
            background-color: $bgcolor
            position: sticky
            left: 0
            z-index: 100      
         +tablet
            position: static
            background: transparent


.dapp-search__btm
   .dropdown-wrap:not(:last-child)
      +phone
         margin-right: 16px

   .menu-item
      &.active
         &>a
            color: $accentColor  
   .btn-secondary.dropdown-toggle
      width: 100%
   .dropdown-menu
      width: 100%
      min-width: 100%
      +adaptiv-value("max-height", 382, 382) 
      overflow-y: auto


.selectDropdown
   select
      background-color: $bgcolor
      border-bottom: none
   option
      background-color: $bgcolor
