
.dapp
   &__top
      display: flex
      margin-bottom: 40px
      flex-direction: column
      +tablet
         flex-direction: row

   &-search
      display: flex

      &__in
         display: flex
         flex-direction: column
         flex-grow: 1
         margin-right: 0
         +tablet
            margin-right: 16px

      &-wrap
         flex-grow: 1
         margin-top: 16px
         margin-left: 0
         +tablet
            +adaptiv-value("margin-left", 65, 10)

      &__top
         display: flex
         margin-bottom: 24px
         +adaptiv-value("margin-right", 54, 70)
         +tablet
            margin-bottom: 24px
            margin-right: 0
         
            
      &__btm
         display: flex
         flex-direction: column
         +phone
            flex-direction: row
         &>div
            flex-grow: 1

      .dropdown-select--lg:not(:last-child)
         margin-right: 16px


   .btn-search-filter
      position: absolute
      right: #{$contPlMob}+px
      +adaptiv-value("min-height", 30, 30)
      +tablet
         position: static

      &>span
         display: none
         +tablet
            display: block


   .search-wrap
      flex-grow: 1


   .pagination-wrap
      display: flex
      justify-content: space-between
      margin: 10px 0


   table.ranktable 
      td, th
         &:nth-child(2)
            background-color: $bgcolor
            position: sticky
            left: 0
            z-index: 100      
         +tablet
            position: static
            background: transparent


.dapp-search__btm
   
   .dropdown-wrap:not(:last-child)
      margin-bottom: 10px
      +phone
         margin-right: 16px

   .btn-secondary.dropdown-toggle
      width: 100%
   .dropdown-menu
      width: 100%
      min-width: 100%



