body
   font-family: Eurostile Reg, serif
   background: $bgcolorN

*
   box-sizing: border-box

.page-exchangeNew
   color: $fontcolorN
   letter-spacing: 0.02em

   h2.title
      font-size: 24px
      line-height: 1.8

   h2.title-sct
      font-size: 20px
      line-height: 1
      text-transform: uppercase
      margin-bottom: 30px

   h3.title
      font-size: 12px
      font-weight: 500
      line-height: 1
      letter-spacing: 0.08em
     

   .title-ln
      position: relative
      display: flex
      align-items: center
      &::after
         content: "" 
         display: flex
         margin-left: 10px
         
         border-bottom: 1px solid transparent
         border-image: linear-gradient(0.25turn, rgba(169, 14, 53, 0.5), rgba(239, 18, 68, 0.5),rgba(169, 14, 53, 0.5))
         border-image: linear-gradient(0.25turn, rgba(169, 14, 53, 0.5), rgba(239, 18, 68, 0.5),rgba(169, 14, 53, 0.5))
         border-image-slice: 1
         border-top-width: 0px
         flex-grow: 1



//---------------------------------------- page style
.bl2col
   &-wrap
      display: flex
      align-items: flex-start
      justify-content: space-between
      margin-top: 30px
      padding-top: 33px

   &__l
      +adaptiv-value("width", 790, 280)
      padding-left: 32px
      z-index: 10
      
   &__r
      width: 310px
      min-width: 310px
      z-index: 10


.bl2col-wrap-blur
   position: relative
   &::before
      content: ""
      position: absolute
      top: 0
      left: 0
      display: inline-block
      //background: linear-gradient(166.18deg, rgba(49, 17, 22, 0.63) -38.64%, rgba(15, 20, 26, 0) 133.18%)
      background: linear-gradient(148.18deg,rgba(49,17,22,.63) -38.64%,rgba(15,20,26,0) 60.18%)
      //backdrop-filter: blur(4px)
      border-top-left-radius: 40px
      width: 100%
      height: 700px
      z-index: 2

   &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      display: inline-block
      background-image: url(../img/icons/frameBl.svg)
      background-repeat: no-repeat
      background-size: cover
      width: 80%
      height: 600px
      z-index: 3

.bbgrad
   position: relative
   width: 100%
   height: 520px
   //background: linear-gradient(166.47deg, rgba(49, 17, 22, 0.63) -38.97%, rgba(15, 20, 26, 0) 132.78%)
   //backdrop-filter: blur(4px)
   &::before
      content: ""
      display: inline-block
      width: 100%
      height: 100%
      //box-shadow: 0px -185px 65px -20px rgb(217 217 217 / 84%) inset
      box-shadow: 0px -137px 65px 40px rgb(15 20 26 / 93%) inset
      filter: blur(14px)


//---------------------------------------- blExc-head

.blExc-head
   display: flex
   justify-content: space-between
   align-items: flex-start
   margin-bottom: 45px
   position: relative

.blExc-logo
   display: flex
   align-items: center
   margin-right: 40px

   &-img
      display: flex
      align-items: center

      overflow: hidden
      width: 40px
      min-width: 40px
      height: 40px
      min-height: 40px

      margin-right: 14px
      img
         object-fit: contain
         width: 100%
         height: 100%

   &-name
      font-size: 40px
      font-weight: 700
      line-height: 1

.blExc-tags-wrap
   background: rgba(22, 30, 39, 0.7)
   //backdrop-filter: blur(4px)
   border-radius: 11px
   padding: 12px 13px 12px 20px
   //background: blue
   //height: 120px
   position: absolute
   right: 0
   top: 0   
   z-index: 10
   width: 77%

   height: 33px
   overflow: hidden
   background: transparent

.blExc-tags
   display: flex
   flex-direction: column
   position: relative

.blExc-tag-row
   display: flex
   flex-wrap: wrap
   justify-content: flex-start

.blExc-tags-wrap.x
   height: 33px
   overflow: hidden
   background: transparent
   &.active
      height: 126px
      
      

.blExc-tags-wrap.active
   height: 126px
   &::before
      content: ""
      width: 100%
      height: 100%
      top: 0
      left: 0
      position: absolute
      backdrop-filter: blur(4px)
      background: rgba(22, 30, 39, 0.7)
      





.blExc-tagScroll
   height: 33px
   //background: red

.active
   .blExc-tag-btn
      display: none
   .blExc-tagScroll
      overflow-y: auto
      height: calc(126px - 2*12px)

      &::-webkit-scrollbar 
         width: 8px        
               /* ширина всей полосы прокрутки */

      &::-webkit-scrollbar-track 
         background: #0F141A        /* цвет зоны отслеживания */
         border-radius: 3px

      &::-webkit-scrollbar-thumb 
         background-color: #17202A    /* цвет бегунка */
         border-radius: 3px       /* округлось бегунка */
         border: 0px solid #0F141A  /* отступ вокруг бегунка */

      &
         scrollbar-width: thin          /* "auto" или "thin" */
         scrollbar-color: #17202A #0F141A   /* цвет бегунка и зоны отслеживания */

.blExc-tag-btm
   height: 60px
   overflow-y: auto
   display: flex
   flex-direction: column

   position: absolute
   top: 100%
   left: 0
   //background: red


   &::-webkit-scrollbar 
      width: 8px              /* ширина всей полосы прокрутки */

   &::-webkit-scrollbar-track 
      background: #0F141A        /* цвет зоны отслеживания */
      border-radius: 3px

   &::-webkit-scrollbar-thumb 
      background-color: #17202A    /* цвет бегунка */
      border-radius: 3px       /* округлось бегунка */
      border: 0px solid #0F141A  /* отступ вокруг бегунка */

   &
      scrollbar-width: thin          /* "auto" или "thin" */
      scrollbar-color: #17202A #0F141A   /* цвет бегунка и зоны отслеживания */


.blExc-tag-btn
   
   position: absolute
   top: 13px
   right: 7px
   width: 20px
   height: 20px
   display: flex
   align-items: center
   justify-content: center
   margin: 0!important
   z-index: 5

   &::before
      content: ""
      display: inline-block
      width: 0
      height: 0
      border-style: solid
      border-width: 0 4px 4px 4px
      border-color: transparent transparent #FFF transparent




.blExc-tag
   font-size: 12px
   font-weight: 400
   line-height: 1
   height: 20px
   overflow: hidden
   background-color: $grey17
   padding: 3px 7px
   border-radius: 3px
   margin-bottom: 20px
   margin-right: 20px
   display: flex
   align-items: center
      
//---------------------------------------- blExc-fgrs

.blExc-fgrs
   display: flex
   justify-content: space-between
   align-items: center

.blExc-fgr
   display: flex
   flex-direction: column
   align-items: center

   margin-bottom: 60px

   &-lbl
      margin-bottom: 5px
      font-size: 24px
      line-height: 1

   &-val
      font-size: 16px
      line-height: 1
      letter-spacing: 0.3em
      background: linear-gradient(90deg, rgba(15, 20, 28, 0) 0%, rgba(59, 75, 95, 0.2) 25.31%, rgba(59, 75, 95, 0.14) 50.31%, rgba(59, 75, 95, 0.2) 74.89%, rgba(15, 20, 28, 0) 100%)
      border-radius: 3px
      padding: 9px 10px 8px
      border-bottom: 1px solid transparent
      border-image: linear-gradient(0.25turn, rgba(58, 75, 94, 0), rgba(58, 75, 94, 0.73),rgba(58, 75, 94, 0))
      border-image: linear-gradient(0.25turn, rgba(58, 75, 94, 0), rgba(58, 75, 94, 0.73), rgba(58, 75, 94, 0))
      border-image-slice: 1
      border-top-width: 0px

//---------------------------------------- blExc-inf

.blExc-inf
   display: flex
   flex-direction: column
   padding-bottom: 27px
   padding-top: 27px
   &-title
      font-size: 16px
      line-height: 1

      margin-bottom: 17px
   &-val
      font-size: 14px
      line-height: 1
      color: $grey9e


.blExc-inf-row
   display: grid
   grid-template-columns: 220px 130px auto 90px
   column-gap: 32px

   
   &:not(:last-child)
      border-bottom: 1px solid $grey2f

.blExc-inf-wrap
   display: flex
   flex-direction: column
   
   margin-bottom: 40px

//---------------------------------------- blExc-abt
.blExc-abt
   font-size: 20px
   line-height: 2
   color: $greydb

   p
      margin-bottom: 20px

   h2.title
      margin-bottom: 16px

//---------------------------------------- component bl-pst -- блок поста новый дизайн
.bl-pst
   width: 420px
   min-width: 420px
   max-width: 420px
   &__top
      display: flex
      justify-content: space-between
      margin-bottom: 13px
   &__cntr
      margin-bottom: 13px
   &__btm
      display: flex
      justify-content: space-between


   h3.title
      font-size: 17px
      line-height: 1.45
      font-weight: 700
      color: $fontcolor

      text-overflow: ellipsis
      height: 43px
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      position: relative
      margin-right: 30px
      width: 68%

   &-date
      font-size: 8px
      line-height: 0.75
      color: $grey93
      font-weight: 700
   &-text
      color: $grey93
      font-size: 12px
      line-height: 1.45
      font-weight: 700

      text-overflow: ellipsis
      height: 34px
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      position: relative
   
.bl-pst-smp
   width: 305px
   min-width: 305px
   max-width: 305px

.bl-pst-wimg
   .bl-pst-img
      border-radius: 7px
      height: 105px
      max-height: 105px
      overflow: hidden
      img
         width: 100%
         height: 100%
         object-fit: cover


.pp-itms
   display: flex
   .pp-itm:not(:last-child)
      margin-right: 20px

.pp-itm
   font-size: 12px
   line-height: 1.45
   color: $grey93
   display: flex
   align-items: center
   .svg-icon
      width: 13px
      height: 13px
      min-width: 13px
      min-height: 13px
      display: flex
      margin-right: 6px
      fill: $redAb
   .svg-cmt
      stroke: $redAb
      
.pp-itm-val
   max-width: 38px
   -webkit-line-clamp: 1
   display: -webkit-box
   -webkit-box-orient: vertical
   overflow: hidden
   text-overflow: ellipsis
      
.tags-itms
   display: flex
   .tag-itm:not(:last-child)
      margin-right: 10px

.tag-itm
   font-size: 12px
   line-height: 1.45
   color: #FFFFFF
   background-color: #17202B
   padding: 1px 6px
   border-radius: 3px
   height: 18px
   display: flex
   align-items: center

   max-width: 70px
   -webkit-line-clamp: 1
   display: -webkit-box
   -webkit-box-orient: vertical
   overflow: hidden
   text-overflow: ellipsis


//bl-rect вид прямоугольный
.bl-rect
   padding: 13px 26px 17px 32px
   position: relative
   max-height: 147px
   background-size: contain
   background-position: center
   background-repeat: no-repeat

.bl-rect--red
   background-image: url(../img/icons/borderFrame-red.svg)

.bl-rect--vlt
   background-image: url(../img/icons/borderFrame-violett.svg)

.bl-rect--blue
   background-image: url(../img/icons/borderFrame-blue.svg)

.brd
   position: absolute
   &-t
      display: flex
      width: 100%
      height: 1px
      background: red

.bl-rect-sml
   padding: 0
   width: 304px
   min-width: 304px
   max-width: 304px

.blExc-col-scn
   align-items: center
   //&>div:not(:last-child)
      //margin-bottom: 30px
   &>div
      padding: 20px

.blExc-col-thd
   align-items: center
   position: relative
   .bl-pst
      margin: 20px

   &::after
      content: ""
      position: absolute
      top: 20px
      left: 0
      width: 100%
      height: 100%
      display: inline-block
      background-image: url(../img/icons/borderFrameSm.svg)
      background-repeat: no-repeat
      background-size: contain

.bl-rect-bg
   position: relative
   &::after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      display: inline-block
      background-image: url(../img/icons/borderFrameRect.svg)
      background-repeat: no-repeat
      background-size: contain

//.cornerr
   //background: transparent
   //background: linear-gradient(135deg, transparent 15px, $bgcolor 0) top left, linear-gradient(-135deg, transparent 15px, $bgcolor 0) top right, linear-gradient(-45deg, transparent 15px, $bgcolor 0) bottom right, linear-gradient(45deg, transparent 15px, $bgcolor 0) bottom left
   //background-size: 50% 50%
   //background-repeat: no-repeat
   //padding: 30px

//.cornerr-wr
   //background: #353535
   //background: linear-gradient(135deg, transparent 15px, #353535 0) top left, linear-gradient(-135deg, transparent 15px, #353535 0) top right, linear-gradient(-45deg, transparent 15px, #353535 0) bottom right, linear-gradient(45deg, transparent 15px, #353535 0) bottom left
   //background-size: 50% 50%
   //background-repeat: no-repeat
   //padding: 2px   

.bl-lr
   display: flex
   width: 304px
   min-width: 304px
   height: 134px
   min-height: 134px
   //padding: 5px 33px
   &__l
      display: flex
      flex-direction: column
      margin-right: 4px
   &__r
      min-width: 134px
      max-width: 134px
   .bl-pst__top
      margin-bottom: 8px
   .bl-pst__btm
      flex-direction: column
      margin-top: auto
      .pp-itms:not(:last-child)
         margin-bottom: 4px

.bl-lr-img
   height: 100%
   width: 100%
   overflow: hidden
   img
      object-fit: cover
      object-position: center
      width: 100%
      height: 100%


   
.cyItm
   color: $green64

.percentVal--up
   color: $green64
   &::after
      border-color: transparent transparent $green64 transparent

.bl-g3
   display: grid
   grid-template-columns: repeat(3, 1fr)
   column-gap: 10px
   row-gap: 10px


// trapezoid
.blExc-fgr-val
   position: relative
   &::after, &::before
      content: ""
      display: inline-block
      position: absolute
      top: 14px

      border-bottom: 2px solid #3E5064
      border-left: 4px solid transparent
      border-right: 4px solid transparent
      height: 0px
      width: 26px
      

   &::after
      left: -10px
      transform: rotate(90deg)
   &::before
      right: -10px  
      transform: rotate(-90deg)    


//---------------------------------------- right side
.bl-title
   display: flex
   justify-content: space-between
   margin-bottom: 20px
   position: relative
   &::after
      content: ""
      display: inline-block
      position: absolute
      left: 0
      top: 19px
      width: 100%
      background-image: url(../img/icons/blExc-divide.svg)
      background-repeat: no-repeat
      background-size: contain
      height: 50px
   h3.title
      text-transform: uppercase
      line-height: 1.5


.bl2col__r
   .bl-pst-smp
      padding-top: 25px
      padding-bottom: 25px
   .bl-pst-wimg, .bl-pst-bimg, .bl-pst-video
      padding-top: 0


.half-line
   position: relative
   &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      width: 50%
      background: #E61243
      height: 1px

.wide-line
   position: relative
   margin-bottom: 25px
   &::after
      content: ""
      position: absolute
      bottom: 0
      left: 0
      width: 100%
      background: rgb(47,47,48)
      height: 1px

.bl-pst-bimg
   h3.title
      margin-right: 0
      width: 100%
   &-wrap
      width: 100%
      height: 218px
      max-height: 218px
      margin-bottom: 17px
      img
         width: 100%
         height: 100%
         object-fit: cover

.bl-pst-video
   display: flex
   padding-top: 0
   padding-bottom: 0

   &-l
      width: 202px
      max-width: 202px
      height: 110px
      max-height: 110px
      img
         width: 100%
         height: 100%
         object-fit: cover
   &-r
      display: flex
      flex-direction: column
      align-items: flex-end
      margin-left: auto

   .tags-itms
      flex-direction: column

   .tag-itm
      margin-right: 0

      &:not(:last-child)
         margin-bottom: 10px

   .pp-itms
      margin-top: auto
      flex-direction: column

   .pp-itm
      margin-right: 0
      &:not(:last-child)
         margin-bottom: 5px


.btn-grad
   font-size: 8px
   font-weight: 700
   line-height: 1.7
   text-shadow: 0px 0.75px 0px rgba(0, 0, 0, 0.25)
   color: #FFFFFF
   text-transform: uppercase
   text-align: center
   
   padding: 3px 27px
   border-radius: 0
   background: linear-gradient(90deg, #A90E35 2.81%, #EF1244 50.09%, #A90E35 93.05%), #D9D9D9
   position: relative

   position: relative
   text-decoration: none
   -webkit-appearance: none
   border: 0
   cursor: pointer
   user-select: none
   outline: none
   &:focus, &:active, &.focus, &:hover
      outline: none
      box-shadow: none
      color: inherit

   &::before, &::after
      content: ""
      position: absolute
      left: 0
      width: 5px
      height: 1px
      background: #B00F38
   &::before
      transform: rotate(45deg) translate(-4px, 2px)
      top: 0
   &::after
      transform: rotate(-45deg) translate(-4px,-2px)
      top: 100%

   &:active
      background: linear-gradient(90deg, #5E0018 -0.02%, #EF1244 51.76%, #5E0018 100.02%), #D9D9D9

.btn-grad-wrap
   background: linear-gradient(90deg, rgba(169, 14, 53, 0.3) 2.81%, rgba(239, 18, 68, 0.3) 50.09%, rgba(169, 14, 53, 0.3) 93.05%)
   border: 0.1px solid #B00F38
   padding: 3px
   position: relative

   &::before, &::after
      content: ""
      position: absolute
      right: 0
      width: 5px
      height: 1px
      background: #B00F38
   &::before
      transform: rotate(-45deg) translate(0px,1px)
      top: 0
   &::after
      transform: rotate(45deg) translate(-1px,-2px)
      top: 100%

table.tbl
   font-family: Eurostile Italic
   font-size: 10px
   letter-spacing: 0.2em
   line-height: 1
   text-transform: uppercase
   border-collapse: collapse !important
   border: none
   color: $fontcolor
   background-color: transparent
   width: 100%

   tr:not(:last-child)
      border-bottom: 1px solid $grey5
   th, td
      border: none
      box-sizing: content-box
      word-break: break-word
      line-height: 1.5!important   
      padding: 15px 3px


table.tblExc
   .num-col
      color: $redDf
   .percentVal, .cyItm, .price-col
      font-size: 12px
   .percentVal
      padding-left: 10px
      color: $fontcolorN
   .cyItm
      margin-right: 5px
   .name-col
      text-overflow: ellipsis
      overflow: hidden
      display: -webkit-box
      -webkit-line-clamp: 1
      -webkit-box-orient: vertical
      width: 110px
   .price-col
      text-align: right

//------------------------------------------- blExc-cols
.blExc-cols
   display: flex

.blExc-col
   display: flex
   flex-direction: column
   &-frst
      margin-right: 40px
      .bl-pst:not(:last-child)
         margin-bottom: 33px

.line-up
   position: absolute
   width: 100%
   height: 100%
   top: 0

   &::before, &::after
      content: ""
      position: absolute
      right: 0
      background-image: url(../img/icons/line_up.svg)
      background-size: contain
      background-repeat: no-repeat
      width: 310px
      height: 36px
      display: inline-block
   &::before
      top: 6px
   &::after
      bottom: 0
      display: none
      
.hide-text.excerptN
   &+.line-up::after
      display: block


.excerptN 
   height: 1600px
   position: relative
   transition-property: height
   transition-timing-function: ease
   transition-duration: 1s
   overflow: hidden
   //backdrop-filter: blur(4px)
   //background: linear-gradient(0deg, rgba(49, 17, 22, 0.63) -38.97%, rgba(15, 20, 26, 0) 132.78%)

.hide-text-wrapN
   position: relative
   margin-bottom: 35px
   margin-top: 25px

.hide-text-wrapN .hide-text:after
   content: ""
   display: inline-block
   width: 100%
   height: 15%
   background: linear-gradient(180deg,rgba(32,32,32,0) 0,#202020 87.83%)
   background: linear-gradient(0deg, rgba(49, 17, 22, 0.63) -38.97%, rgba(15, 20, 26, 0) 132.78%)
   position: absolute
   left: 0
   bottom: 0
   //box-shadow: 4px 2px 5px #000000

.blGrad
   position: relative
   &::after
      content: ""
      display: flex
      border-bottom: 1px solid transparent
      border-image: linear-gradient(0.25turn, rgba(169, 14, 53, 0.5), rgba(239, 18, 68, 0.5),rgba(169, 14, 53, 0.5))
      border-image: linear-gradient(0.25turn, rgba(169, 14, 53, 0.5), rgba(239, 18, 68, 0.5),rgba(169, 14, 53, 0.5))
      border-image-slice: 1
      border-top-width: 0px
      flex-grow: 1

.btn--more
   position: absolute
   bottom: 0
   z-index: 100


.btnExc-more
   font-size: 20px
   font-weight: 700
   line-height: 2
   color: $redDf
   display: flex
   align-items: center
   border: none
   background: transparent
   cursor: pointer
   position: absolute
   bottom: 0

   &::after
      content: ""
      width: 0
      height: 0
      display: inline-block
      border-style: solid
      border-width: 0 4px 4px 4px
      border-color: transparent transparent $redDf transparent
      margin-left: 5px
      margin-top: 5px

.blExcAn
   margin-top: 60px
   margin-bottom: 206px

