.gallery
   .page__title
      +adaptiv-value("margin-top", 60, 30)
   .bl-grid-3
      display: grid
      grid-template-columns: 1fr
      +tablet
         grid-template-columns: repeat(3, 1fr)
         gap: 20px

.gallery-item
   width: 100%
   height: $artcItemHMob+px
   +tablet
      +adaptiv-value("height", $artcItemH, $artcItemH)
   &>a
      width: 100%
      height: 100%

   img
      width: 100%!important
      height: 100%!important
      object-fit: cover
      border-radius: $artcImgBr

.mfp-container a.mfp-arrow
   width: 32px
   min-width: 32px
   height: 32px
   min-height: 32px
   border-radius: 50%
   background-color: $black1
   display: inline-flex
   align-items: center
   justify-content: center
   border: 0
   outline: 0
   padding: 0
   box-shadow: none
   top: calc(50% - 16px)
   &::before
      display: none
   &::after
      content: ''
      display: block
      width: 18px
      height: 18px
      position: static
      margin-top: unset!important
      margin-left: unset!important
      border: none!important


button.mfp-arrow, .swiper-button-prev, .swiper-button-next, .btn-arrow-left, .slider-arrow
   overflow: visible
   cursor: pointer
   width: 32px
   min-width: 32px
   height: 32px
   min-height: 32px
   border-radius: 50%
   background-color: $black1
   display: inline-flex
   align-items: center
   justify-content: center
   border: 0
   outline: 0
   padding: 0
   z-index: 1046
   box-shadow: none
   touch-action: manipulation
   opacity: 1
   position: absolute
   +adaptiv-value("top", 25, 12)
   margin: 0

   &::before
      display: none
   &::after
      content: ''
      display: block
      width: 18px
      height: 18px
      position: static
      margin-top: unset!important
      margin-left: unset!important
      border: none!important
      background:
         color: transparent
         repeat: no-repeat
         size: auto
         position: center
         image: url("../img/icons/arrowRight.svg")

.mfp-container button.slider-arrow
   top: calc(50% - 16px)

.mfp-arrow-left, .swiper-button-prev, .slider-arrow-left
   left: 40px!important
   &::after
      transform: scaleX(-1)

.mfp-arrow-right, .swiper-button-next, .slider-arrow-right
   right: 40px!important

.btn-arrow-left
   background-color: transparent      

$pt_imgGal: 93px
$w_mfp_ic: 40px

.mfp-wrap
   img.mfp-img
      padding: 0
      height: 100%
      object-fit: cover
   .mfp-image-holder
      .mfp-close
         //margin-top: $pt_imgGal
         margin-top: 20px
         opacity: 1
         height: 10px
         font-size: 35px
         padding-right: 30px
      .mfp-figure
         height: 100%
      .mfp-content
         height: 50%
         //max-width: 90%
         //min-height: 80%
         //width: 90%
         +tablet
            height: 78%
   .mfp-bottom-bar
      position: absolute
      top: -10px
      height: 100%
      +tablet
         height: auto
   .mfp-counter
      display: none
   .mfp-title
      +adaptiv-value("font-size", 24, 20)
      line-height: 1.2
      color: $fontcolor
      word-wrap: break-word
      padding-left: 55px
      height: 100%
      width: 100%
      +tablet
         width: auto
         height: auto
      &::before
         position: absolute
         left: 0
         top: -5px
         content: ""
         display: inline-block
         width: $w_mfp_ic
         height: $w_mfp_ic
         min-width: $w_mfp_ic
         min-height: $w_mfp_ic
         border-radius: $br_menu
         background:
            image: url("../img/upload/gallery_slider_ic.jpg")
            repeat: no-repeat
            size: cover
            position: center
   .btn-wrap
      display: flex
      //column-gap: 20px
      z-index: 1047
      opacity: 0
      transition: opacity 0.2s ease-in
      position: absolute
      left: 0
      bottom: -20%
      width: 100%
      margin-left: 0
      margin-top: 0
      justify-content: center
      +tablet
         position: relative
         margin-top: 40px
         margin-left: -35px
         justify-content: flex-start

      .dropdown-toggle::after
         display: none
         
      .btn
         margin-right: 20px
         padding: 6px
         +adaptiv-value("font-size", 14, 14)
         
         +tablet
            padding-top: 6px
            padding-bottom: 6px
            +adaptiv-value("padding-left", 28, 28)
            +adaptiv-value("padding-right", 28, 28)
         &:last-child
            margin-right: 0
      .btn .btn-icon
         margin-right: 0
         +tablet
            margin-right: 10px !important
      .btn span
         display: none!important
         +tablet
            display: inline-block!important

   .mfp-figure
      figure
         height: 100%
         
   .menu-item
      margin-bottom: 20px
      margin-right: 0
      +adaptiv-value("font-size", 14, 14)

.mfp-zoom-out-cur .mfp-wrap .mfp-image-holder .mfp-close
   cursor: pointer

.mfp-content::before
   content: ""
   position: absolute
   width: 100%
   height: 30%
   display: inline-block
   background: linear-gradient(180deg, #000000 -7.83%, rgba(0, 0, 0, 0.583738) 55.59%, rgba(0, 0, 0, 0.271627) 80.86%, rgba(0, 0, 0, 0) 100%)
   opacity: 0
   z-index: 1
   transition: opacity 0.2s ease-in

.mfp-content:hover
   &::before
      opacity: 1
   .btn-wrap
      opacity: 1  


   

.mfp-bottom-bar   
   .dropdown-menu
      .menu-item > a
         display: flex
         align-items: center
         padding: 0
         line-height: inherit
         color: inherit

      .menu__icon
         width: 24px
         height: 24px
         min-width: 24px
         min-height: 24px
         display: inline-block
         fill: #fff
         margin-right: 10px