
.latestDapp
   &.section
      +adaptiv-value("margin-top", 64, 28)

   .bl-grid__btm
      .title--bgtransp
         position: static
         background: transparent
         +tablet
            background-color: rgba(32, 32, 32, 0.5)   
            position: absolute
