$gap: 15px

.bl-img
   position: relative
   border-radius: 10px
   +adaptiv-value("margin-bottom", 60, 20) 
   .top
      +adaptiv-value("margin-bottom", 40, 40) 
      +adaptiv-value("font-size", 18, 14)     
      +tablet
         display: grid
         grid-template-columns: repeat(2, 1fr)
         gap: $gap
         margin-left: 0
         width: 100%

   .bottom
      +tablet
         position: absolute
         bottom: 0
         +adaptiv-value("padding", 25, 25) 
         +adaptiv-value("font-size", 18, 18)  

      h1.title
         +adaptiv-value("font-size", 40, 34)  

   &-date
      margin-top: 20px

   .social-menu
      margin-top: 10px
      flex-wrap: wrap
      justify-content: flex-start
      li:not(:last-child)
         margin-right: 20px

   .social-text
      display: flex
      align-items: flex-start
      margin-top: 10px
      +tablet
         margin-top: 0

.bl-img-col
   .top
      margin-left: 0
      +tablet
         position: relative
         padding: 0!important 
         display: flex
         align-items: center
         
   .top-right
      position: absolute
      top: 0
      right: 0
      padding: 20px
      
   .filled
      +tablet
         background: transparent
         margin-bottom: 0
         padding: 0
   .social-menu
      +tablet
         margin-left: 20px
   .title-wrap
      +tablet
         display: grid
         grid-template-columns: auto minmax(93px, 83px)
         margin-bottom: 30px
   .bl-img-date
      +tablet
         text-align: right
         margin-top: 0
   .img-wrap
      margin-bottom: 20px
      +tablet
         margin-bottom: 30px




$blImgP: 10px
.bl-img-title
   display: flex
   flex-direction: column
   position: relative
   background: transparent
   margin-bottom: 30px
   +tablet
      background: $grey18
   
   
   +tablet
      flex-direction: row
      border-radius: 10px
      padding: $blImgP
      position: unset

   &__left
      display: flex
      flex-direction: column
      +tablet
         flex-grow: 1

   &__right
      position: relative
      order: -1
      margin-bottom: 10px
      +tablet
         order: unset
         margin-bottom: unset
      
   &-top
      display: flex
      flex-direction: column
      flex-grow: 1
      
      +tablet
         margin-bottom: 10px
         margin-right: 10px
   &-btm
      +tablet
         margin-top: auto
         position: unset
         top: unset
         left: unset
         width: unset

   .img-wrap
      border-radius: 10px
      overflow: hidden
      width: 100%
      height: auto
      +tablet
         margin-left: auto

         +adaptiv-value("width", 330, 280)  
         +adaptiv-value("height", 330, 280) 
         +adaptiv-value("max-height", 330, 280) 
      img
         +tablet
            object-fit: cover
            object-position: top left
            height: 100%

   .filled
      +tablet
         background: transparent
         margin-bottom: 0
         padding: 0

   .top-right
      position: absolute
      top: $blImgP
      right: $blImgP

      +tablet
         background: radial-gradient(100% 110% at 95% 0%, #080707 10%, rgba(0, 0, 0, 0) 95%)
         border-radius: 0px 10px 0px 0px
         top: 0
         right: 0
         padding: 10px

   .bl-img-date
      margin-top: 10px
      +tablet
         margin-top: auto


.top-right
   grid-row: 1
   grid-column: 2
   justify-self: right
   display: grid
   grid-template-columns: 1fr
   row-gap: $gap

.filled
   padding: 0 5px
   background-color: #6113B6
   border-radius: 5px
      
.reaction-wrap
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center
   .svg-icon-wrap
      width: 24px
      height: 24px
      min-width: 24px
      min-height: 24px
      +adaptiv-value("margin-top", 10, 10)  
      &:last-childF.c
         +adaptiv-value("margin-left", 20, 20)  

   .svg-icon-wrap:not(last-child)     
      margin-right: 20px
   .svg-icon 
      width: 100%
      height: 100%
      fill: #c4c4c4

.post .reaction-wrap
   span
      +adaptiv-value("font-size", 17, 14)  
      font-weight: $semiBold

.comments
   .row
      margin-left: 0
      margin-right: 0
      display: grid
      grid-template-columns: 1fr
      row-gap: 20px
      +tablet
         grid-template-columns: repeat(2, 1fr)
         column-gap: 20px


.left-col
   +adaptiv-value("width", 850, 320)

.right-col
   width: 310px
   min-width: 310px

.artc-item-wrap
   .artc-item
      padding-top: 30px
      padding-bottom: 30px

   .artc-item:not(:first-child)   
      border-top: 1px solid $grey17

.btn-wrap-lined
   margin-bottom: 30px

.usefull-wrap
   margin-bottom: 20px
   .artc-item
      margin-top: 20px

.popular-wrap
   margin-bottom: 20px
   .artc-item
      margin-top: 20px   

.slider-img
   display: flex
   .artc-item
      max-width: 300px

.news-slider
   .slider-scroll
      width: 300px
   .artc-item
      grid-template-columns: 1fr
