$gap: 15px

.bl-img
   position: relative
   border-radius: 10px
   +adaptiv-value("margin-bottom", 60, 20) 
   &-info
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      width: 100%
      line-height: 1.21
      +adaptiv-value("padding", 25, 25) 
      +adaptiv-value("font-size", 18, 18) 


   .top
      display: grid
      grid-template-columns: repeat(2, 1fr)
      gap: $gap
      +adaptiv-value("margin-bottom", 40, 40) 

      position: absolute
      top: 0
      left: 0
      right: 0
      width: 100%
      line-height: 1.21
      +adaptiv-value("padding-top", 25, 10) 
      +adaptiv-value("padding-bottom", 25, 10) 
      +adaptiv-value("padding-right", 25, 20) 
      +adaptiv-value("padding-left", 25, 20) 
      +adaptiv-value("font-size", 18, 14)  

      margin-left: -20px
      width: calc(100% + 40px)    
      +tablet
         margin-left: 0
         width: 100%

      .social-menu
         grid-column: 1

   .top-right
      grid-row: 1
      grid-column: 2
      justify-self: right
      display: grid
      grid-template-columns: 1fr
      row-gap: $gap
         
   .bottom
      +tablet
         position: absolute
         bottom: 0
         +adaptiv-value("padding", 25, 25) 
         +adaptiv-value("font-size", 18, 18)  

      h1.title
         +adaptiv-value("font-size", 40, 34)  

   &-date
      margin-top: 20px

   .social-menu li:not(:last-child)
      margin-right: 20px


.bl-img-row
   height: unset
   margin-left: -20px
   width: calc(100% + 40px)  
   +tablet
      padding: 10px
      +adaptiv-value("height", 350, 350)
      width: unset
   .top
      +adaptiv-value("padding-top", 0, 10) 
      +adaptiv-value("padding-bottom", 0, 10) 
      +adaptiv-value("padding-right", 10, 20) 
      +adaptiv-value("padding-left", 10, 20) 
      +adaptiv-value("margin-bottom", 0, 40)
      left: 10px
      +tablet
         bottom: 0
         top: unset
         left: 0
         

   .bottom
      padding: 10px
      +tablet
         top: 0
         bottom: unset
         +adaptiv-value("padding", 0, 0)
         +adaptiv-value("padding-left", 10, 0)
         +adaptiv-value("padding-top", 10, 25)
         +adaptiv-value("width", 490, 390)
         
         left: 0

   .img-wrap
      +tablet
         margin-left: auto

         +adaptiv-value("width", 330, 280)  
         +adaptiv-value("height", 330, 280) 
         +adaptiv-value("max-height", 330, 280) 
      img
         +tablet
            object-fit: cover
            object-position: top left
   
   .top-right
      position: absolute
      top: 25px
      right: 25px
      //background: radial-gradient(100% 107.64% at 100% 0%, #000000 0%, rgba(0, 0, 0, 0) 88.68%)
      


.img-wrap
   margin-bottom: 20px
   +adaptiv-value("height", 330, 150) 
   margin-left: -20px
   width: calc(100% + 40px)   
   +tablet
      margin-bottom: 0
      margin-left: 0
      width: 100%
   img
      width: 100%
      height: 100%

      

.filled
   padding: 0 5px
   background-color: #6113B6
   border-radius: 5px
   +adaptiv-value("margin-bottom", 15, 10) 
      
.reaction-wrap
   display: flex
   flex-direction: column
   justify-content: center
   align-items: center
   .svg-icon-wrap
      width: 24px
      height: 24px
      min-width: 24px
      min-height: 24px
      +adaptiv-value("margin-top", 10, 10)  
      &:last-childF.c
         +adaptiv-value("margin-left", 20, 20)  
         
   .svg-icon 
      width: 100%
      height: 100%
      fill: #c4c4c4

.post .reaction-wrap
   span
      +adaptiv-value("font-size", 17, 14)  
      font-weight: $semiBold

.comments
   .row
      margin-left: 0
      margin-right: 0
      display: grid
      grid-template-columns: 1fr
      row-gap: 20px
      +tablet
         grid-template-columns: repeat(2, 1fr)
         column-gap: 20px


.left-col
   +adaptiv-value("width", 850, 320)

.right-col
   width: 310px
   min-width: 310px

.artc-item-wrap
   .artc-item
      padding-top: 30px
      padding-bottom: 30px

   .artc-item:not(:first-child)   
      border-top: 1px solid $grey17

.btn-wrap-lined
   margin-bottom: 30px

.usefull-wrap
   margin-bottom: 20px
   .artc-item
      margin-top: 20px

.popular-wrap
   margin-bottom: 20px
   .artc-item
      margin-top: 20px   

.slider-img
   display: flex
   .artc-item
      max-width: 300px

.news-slider
   .slider-scroll
      width: 300px
   .artc-item
      grid-template-columns: 1fr

