.gr2
   grid-row: span 2

.gr3
   grid-row: span 3

.gr4
   grid-row: span 4



.artc-item--txt
   .text-wrap
      display: grid
      grid-template-columns: auto minmax(76px, 76px)   
      padding: 20px 
      position: absolute
      bottom: 0
      align-items: end
   .post-meta
      margin: 0
      padding: 0
   .artc-item-image
      height: 100%

.news-wrap
   margin-bottom: 40px
   border: 2px solid #FFF

.h155
   min-height: 155px!important
   height: 155px!important

.br0
   border-radius: 0px!important

.bg-grey
   background-color: $grey8

.artc-item-wrap
   padding: 20px
   .artc-item:first-child
      padding-top: 0


.bl1, .bl5
   display: flex
   flex-direction: column
   +tablet
      flex-direction: row


.news-wrap-col
   display: flex
   flex-direction: column
   justify-content: space-between
   .artc-item:not(:last-child)
      margin-bottom: 20px
   
.bl5
   background-color: red