.post 
   img
      width: 100%
      height: auto
   .w-sm
      .post-text p
         margin-bottom: 20px


   .post-meta span:not(last-child)
      margin-right: 10px
   .post-meta .post-comment-pageviews
      &:before
         height: 16px
   .post-hashtag 
      margin-bottom: 50px
   .tag-list 
      display: inline-flex
      gap: 15px
      flex-wrap: wrap
   .tag-list>li
      background: rgba(255,255,255,.25)
      border-radius: 4px
      padding: 3px 6px
      color: #fff
      font-size: 12px
      margin: 0
      float: unset
   
   .post-text ul li
      display: flex
      align-items: center
      column-gap: 5px
      margin-left: 5px
      margin-bottom: 15px
      color: #b039ae

   .post-comment-pageviews 
      &.btm
         column-gap: 30px
         margin-bottom: 20px
         display: grid
         grid-template-columns: minmax(50px,60px) 25px 25px
      font-size: 14px
      span 
         display: flex
         align-items: center
         color: #c4c4c4
         margin-right: 5px

   .svg-icon 
      width: 24px
      height: 24px
      min-width: 24px
      min-height: 24px
      fill: #c4c4c4
   .post-comment .cocon
      margin-right: 15px
   .dropdown-toggle
      &::after
         display: none
   .post-share+.dropdown-menu 
      width: 230px
      background-color: #000
   .dropdown-menu .menu-item 
      margin-bottom: 20px
      margin-right: 0
   .dropdown-menu .menu__icon 
      width: 24px
      height: 24px
      min-width: 24px
      min-height: 24px
      display: inline-block
      fill: #fff
      margin-right: 10px
   .dropdown-menu .menu-item>a 
      display: flex
      align-items: center
      padding: 0
      line-height: inherit
      color: inherit
  

   .post-author-meta>a 
      display: flex
      align-items: center
   .post-meta span 
      font-size: 12px
      color: #b0b0b0
   
   .post-details-wrap 
      display: inline-flex
      flex-direction: column
      margin-left: 15px

   .post-text ul li, .section-related-posts ul li 
      display: flex
      align-items: center
      flex-wrap: wrap
      column-gap: 5px
      margin-left: 5px
      margin-bottom: 15px
      color: #b039ae
   .section-related-posts 
      margin-bottom: 60px
   .section-comment .form-textarea.form-control 
      border: 1px solid #585858
      border-radius: 4px
      background-color: transparent
      min-height: 100px
      padding: 14px 15px
   
   .show-on-page-load div#amplitude-player 
      background-color: transparent

   