.posts
   .bl-grid
      display: grid
      grid-template-columns: repeat(1, 1fr)
      +adaptiv-value("column-gap", 27, 27)
      +adaptiv-value("row-gap", 20, 20)
      +tablet
         grid-template-columns: repeat(4, 1fr)

   .section__head
      display: none

   