
.posts, .search-page
   .artc-item--vert
      display: flex
      row-gap: unset
      column-gap: unset
   .artc-item-image
      min-height: $artcVerPosttHeightMob
      height: $artcVerPosttHeightMob
      +tablet
         +adaptiv-value("min-height", 140, 167)
         +adaptiv-value("height", 140, 167)


   