.post 
   img
      width: 100%
   .post-image
      display: block
      float: unset
      width: 100%
      max-width: 100%
      text-align: center
      margin-bottom: 30px
      height: 508px
      height: calc(158px + 350 * ((100vw - 320px)/ 1120))
      max-width: unset
   .w-sm
      max-width: 795px
      width: 100%
      margin: 0 auto
      .post-text p
         margin-bottom: 20px
   .post-details-meta-date 
      font-size: 14px
   .post-comment-pageviews 
      display: flex
      align-items: flex-start
      font-size: 14px
   .post-meta 
      margin-bottom: 15px
      display: flex
      align-items: center
      margin-top: 5px
      column-gap: 5px
      font-size: 12px
   .post-meta span:not(last-child)
      margin-right: 10px
   .post-meta .post-comment-pageviews
      &:before
         height: 16px
   .post-hashtag 
      margin-bottom: 50px
   .tag-list 
      display: inline-flex
      gap: 15px
      flex-wrap: wrap
   .tag-list>li
      background: rgba(255,255,255,.25)
      border-radius: 4px
      padding: 3px 6px
      color: #fff
      font-size: 12px
      margin: 0
      float: unset
   
   .post-text ul li
      display: flex
      align-items: center
      column-gap: 5px
      margin-left: 5px
      margin-bottom: 15px
      color: #b039ae

   .post-comment-pageviews 
      &.btm
         column-gap: 30px
         margin-bottom: 20px
         display: grid
         grid-template-columns: minmax(50px,60px) 25px 25px
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      -webkit-box-align: start
      -ms-flex-align: start
      align-items: flex-start
      font-size: 14px
      span 
         display: flex
         align-items: center
         color: #c4c4c4
         margin-right: 5px

   .svg-icon 
      width: 24px
      height: 24px
      min-width: 24px
      min-height: 24px
      fill: #c4c4c4
   .post-comment .comment-icon
      margin-right: 15px
   .dropdown-toggle
      &::after
         display: none
   .post-share+.dropdown-menu 
      width: 230px
      background-color: #000
   .dropdown-menu .menu-item 
      margin-bottom: 20px
      margin-right: 0
   .dropdown-menu .menu__icon 
      width: 24px
      height: 24px
      min-width: 24px
      min-height: 24px
      display: inline-block
      fill: #fff
      margin-right: 10px
   .dropdown-menu .menu-item>a 
      display: flex
      align-items: center
      padding: 0
      line-height: inherit
      color: inherit
   .reaction-wrap .btn-reaction 
      margin-top: 4px
      margin-bottom: 50px
   .btn-reaction 
      border-radius: 50%
      background-color: #d2d2d2
      width: 32px
      height: 32px
      min-width: 32px
      min-height: 32px
      display: flex
      align-items: center
      justify-content: center
   .reaction 
      display: inline-flex
      justify-content: center
      align-items: center
      width: 32px
      height: 32px
      min-width: 32px
      min-height: 32px
      border-radius: 50%
      background-color: transparent
   .reaction-smilePlus a 
      background-image: url(../img/smilePlus.svg)   
   .reaction a 
      display: inline-block
      width: 24px
      height: 24px
      min-width: 24px
      min-height: 24px
      background-color: transparent
      background-repeat: no-repeat
      background-size: auto
      background-position: center
   .reactions.dropdown-menu 
      position: absolute
      top: 100%
      height: 40px
      width: auto
   .reactions 
      background-color: #fff
      border-radius: 32px
      padding: 4px 12px
   .reaction-smile a 
      background-image: url(../img/smile.png)
   .reaction-excited a 
      background-image: url(../img/excited.png)
   .reaction-surprise a 
      background-image: url(../img/surprise.png)
   .reaction-apathy a 
      background-image: url(../img/apathy.png)
   .reaction-unhappy a 
      background-image: url(../img/unhappy.png)
   .reaction-angry a 
      background-image: url(../img/angry.png)
   .reaction-btn-wrap 
      display: flex
   .btn-reaction--selected 
      min-width: 74px
      width: 74px
      border-radius: 32px
      font-size: 17px
      color: #000
   .reaction-btn-wrap .btn-reaction 
      margin-right: 20px
      margin-right: calc(5px + 15 * ((100vw - 320px)/ 1120))
   .section-reaction 
      margin-bottom: 40px
   .post-author-meta>a 
      display: flex
      align-items: center
   .post-meta span 
      font-size: 12px
      color: #b0b0b0
   .userphoto 
      display: inline-block
      overflow: hidden
      border-radius: 50%
      width: 40px
      width: calc(32px + 8 * ((100vw - 320px)/ 1120))
      height: 40px
      height: calc(32px + 8 * ((100vw - 320px)/ 1120))
      min-width: 40px
      min-width: calc(32px + 8 * ((100vw - 320px)/ 1120))
      min-height: 40px
      min-height: calc(32px + 8 * ((100vw - 320px)/ 1120))
   .post-details-wrap 
      display: inline-flex
      flex-direction: column
      margin-left: 15px

   .post-text ul li, .section-related-posts ul li 
      display: flex
      align-items: center
      column-gap: 5px
      margin-left: 5px
      margin-bottom: 15px
      color: #b039ae
   .section-related-posts 
      margin-bottom: 60px
   .section-comment .form-textarea.form-control 
      border: 1px solid #585858
      border-radius: 4px
      background-color: transparent
      min-height: 100px
      padding: 14px 15px
   
   .show-on-page-load div#amplitude-player 
      background-color: transparent

   