.filter-wrap
   display: flex
   margin-bottom: 20px

.filter-wrap-left 
   display: flex
   opacity: 0
   transition: opacity 0.5s ease 0s
   &.active
      opacity: 1

.btn-search-filter
   margin-left: auto

.search-label
   max-width: 260px

.dropdown-wrap
   margin-right: 12px