.page
   h1.page__title
      font-size: 34px
      padding-bottom: 5px
      +tablet
         +adaptiv-value("font-size", 40, 34) 
         +adaptiv-value("padding-bottom", 30, 5) 

   &-main
      .page-breadcrumb
         display: none
      .page__title
         display: none

.newsBl-wrap
   display: flex
   align-items: flex-start

.newsBl
   flex-grow: 1
   &:last-child
      display: none
      +tablet
         display: block
         +adaptiv-value("margin-left", 40, 40)

