//SECTION
.section
   +adaptiv-value("margin-top", 65, 35)

   .title
      font-weight: $semiBold
      +adaptiv-value("margin-right", 30, 0)
   
   &__head
      width: 100%
      display: flex
      position: unset
      float: none
      justify-content: space-between
      align-items: center
      margin-bottom: 20px



