$wImgWrap: 45
$wImgWrapM: 35

.ranktable-wrap
   overflow-x: auto
   scrollbar-width: none
   &::-webkit-scrollbar
      display: none

.ranktable-wrap, .btn-seemore-wrap   
   margin-left: -20px
   width: 100vw
   +tablet
      margin-left: unset
      width: unset

table.ranktable
   tbody tr
      background: transparent

$wImgMini: 25
$wLogoMini: 25

table.ranktable
   border-collapse: collapse !important
   border: none
   +adaptiv-value("font-size", 14, 14)
   color: $fontcolor
   background-color: transparent
   margin-top: 0!important
   margin-bottom: 0!important
   width: 1200px!important
   max-width: 1200px!important
   +tablet
      width: 100%!important
      max-width: 100%!important
   tr
      border-top: 1px solid $grey5
      &:last-child
         border-bottom: 1px solid $grey5
         
   td, th
      border: none
      white-space: nowrap
      line-height: 1.5!important
      padding: 7px 12px 8px
      &:nth-child(2)
         //padding: 10px 0px 10px 15px!important
         text-align: left
      &:first-child, &:nth-child(2)
         //min-width: 40px
         background-color: $bgcolor
         position: sticky
         left: 0
         z-index: 100
         +tablet
            position: static
            background: transparent

      &:last-child
         padding-right: 16px!important
   a
      display: inline-flex
      align-items: center
      .dapp-img-mini
         margin-right: 8px
         svg
            width: 100%
            height: 100%

   thead
      th, td
         background-color: transparent
         +adaptiv-value("font-size", 12, 12)
         line-height: 1.21
         font-weight: $bold
         padding: 4px 10px 4px!important //14px 10px 13px!important
         border: none
         text-align: center
         height: 45px
         &:first-child
            +tablet
               background-color: transparent
   tfoot
      td:last-child
         padding: 0!important 
   tbody
      td
         .td-text, .percentVal--up, .percentVal--down
            transition: text-shadow 0.2s ease-in-out 0s

         .td-text:not(.percentVal--up):not(.percentVal--down)
            &:hover
               text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5)

         .percentVal--up
            &:hover
               text-shadow: 0px 0px 10px rgba(0, 187, 0, 0.9)

         .percentVal--down
            &:hover
               text-shadow: 0px 0px 10px rgba(255, 0, 0, 0.9)

   .dapp-img-mini
      margin-right: 5px
      +adaptiv-value("width", $wImgMini, $wImgMini)
      +adaptiv-value("min-width", $wImgMini, $wImgMini)
      +adaptiv-value("height", $wImgMini, $wImgMini)
      +adaptiv-value("min-height", $wImgMini, $wImgMini)
      fill: #FFFFFF
      background-color: transparent            
      picture, img
         width: 100%
         height: 100%
      img
         object-fit: cover

   .dapp-logo-mini
      margin-right: 6px
      +adaptiv-value("width", $wLogoMini, $wLogoMini)
      +adaptiv-value("min-width", $wLogoMini, $wLogoMini)
      +adaptiv-value("height", $wLogoMini, $wLogoMini)
      +adaptiv-value("min-height", $wLogoMini, $wLogoMini)
      fill: #FFFFFF
      background-color: transparent 
      picture, img
         width: 100%
         height: 100%
      img
         object-fit: cover      

   &.no-footer
      border-bottom: none


   .dapp-img-mini-wrap
      overflow: hidden
      display: inline-flex
      align-items: center
      background-color: #888888    
      border-radius: 5px
      +adaptiv-value("width", $wImgWrap, $wImgWrap)
      +adaptiv-value("min-width", $wImgWrap, $wImgWrap)
      +adaptiv-value("max-width", $wImgWrap, $wImgWrap)
      +adaptiv-value("height", $wImgWrap, $wImgWrap)
      +adaptiv-value("min-height", $wImgWrap, $wImgWrap)
      +adaptiv-value("max-height", $wImgWrap, $wImgWrap)   
      +adaptiv-value("margin-right", 15, 15)
      picture, img
         width: 100%
         height: 100%
      img
         object-fit: cover

      &--round
         border-radius: 50%
         & img
               margin-right: 0    
      &--m
         +adaptiv-value("width", $wImgWrapM, $wImgWrapM)
         +adaptiv-value("min-width", $wImgWrapM, $wImgWrapM)
         +adaptiv-value("max-width", $wImgWrapM, $wImgWrapM)
         +adaptiv-value("height", $wImgWrapM, $wImgWrapM)
         +adaptiv-value("min-height", $wImgWrapM, $wImgWrapM)
         +adaptiv-value("max-height", $wImgWrapM, $wImgWrapM)               

   .usersVal
      display: grid
      grid-template-columns: 50px 70px
      column-gap: 7px   

   .volumeVal
      display: grid
      grid-template-columns: 50px 70px
      &-last
         grid-column: 1/3
         font-size: 12px
         color: $grey6
      &-col-1
         grid-template-columns: 1fr   

   .volumeVal-last
      grid-column: auto      

   .signalVal
      display: inline-flex
      align-items: center
      width: 100%   
      img
         margin-left: auto

   .percentVal
      margin-left: 7px
      margin-right: 7px   
      
   .shortname 
      color: $grey6
      text-transform: uppercase
      margin-left: 25px
      +adaptiv-value("margin-left", 15, 15)
      &--light
         color: $fontcolor

   th
      .star
         &:hover
               fill: $grey7
               filter: none      

   .logo-row
      .dapp-img-mini-wrap
         box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.5)
         margin-right: 0
      &>a
         margin-left: -8px               

div.dataTables_wrapper>div.row>div, div.dataTables_length, div.dataTables_filter, div.dataTables_info, div.dataTables_paginate
   text-align: left   

.name-wrap
   display: inline-flex
   align-items: center

   svg
      width: 100%
      height: 100%   

#section-cryptocurrencies-pill
   table.ranktable tbody td:first-child
      display: grid
      grid-template-columns: 1fr 1fr 1fr
      align-items: center
      grid-column-gap: 5px         

.td-in
   display: flex
   flex-direction: row
   align-items: center
   &--col
      flex-direction: column
      align-items: flex-end
      .percentVal
         margin-left: 0 !important
         margin-right: 0 !important
         
.th-in
   display: flex
   align-items: center
   justify-content: flex-end

.t-num
   text-align: right
   justify-content: flex-end
   .percentVal
      margin-right: 0 !important

.t-text
   text-align: left
   justify-content: flex-start  

.t-sig
   text-align: center
   justify-content: center 
   
.t-graph
   text-align: center
   justify-content: center    

.cell-star
   +adaptiv-value("width", 20, 20)
.cell-star, .cell-count
   padding-left: 7.5px!important
   padding-right: 7.5px!important
.cell-star, .cell-count, .cell-name
   background-color: $bgcolor !important
   position: sticky
   left: 0
   z-index: 100
   +tablet
      position: static
      background-color: transparent !important
      
.exchScore
   padding: 0 13px

table.dataTable td.dataTables_empty, table.dataTable td.dt-center, table.dataTable th.dt-center
   text-align: center



      

