.contracts li 
   display: flex
   justify-content: flex-end

   .contracts li.menu-item 
      justify-content: space-between

   .contracts li.menu-item div
      margin: 0 15px

   .contracts .menu-item label 
      display: flex

   .copyAll 
      cursor: pointer



.dropdown-menu.contracts 
   max-width: 250px
   width: 250px
   max-height: 350px
   overflow: auto

.dropdown-menu.contracts label 
   display: flex
   justify-content: space-between
   align-items: center
   width: 100%
   padding: 0 7px

.dropdown-menu.contracts li:first-child 
   justify-content: flex-end

.dropdown-menu.contracts li div 
   align-items: center

.contracts li 
   list-style: none
   display: flex
   align-items: center
   gap: 8px
   margin-bottom: 8px
   justify-content: space-between
   font-size: 12px

.contracts li div 
   display: flex
   gap: 8px
   align-items: flex-start
   justify-content: flex-start
   margin-right: 20px

.contracts li .icon 
   display: inline-block
   width: 15px
   height: 20px

.contracts li .icon svg 
   fill: #fff

.contr-info span:first-child
   font-size: 10px

.contr-info
   flex-direction: column
   word-break: break-word