.contracts li 
   background: red
   display:flex
   justify-content: flex-end

   .contracts li.menu-item 
      justify-content: space-between

   .contracts li.menu-item div
      margin: 0 15px

   .contracts .menu-item label 
      display: flex

   .copyAll 
      cursor: pointer

