

.form-control
   background-color: transparent
   border: 0
   border-bottom: 1px solid $grey6
   border-radius: 0
   padding: 6px 0
   font-size: inherit
   line-height: $lh_body
   color: $fontcolor

   &:focus
      color: $fontcolor
      background-color: transparent
      border-color: $accentColor
      outline: 0
      box-shadow: none

.form-group label
   +adaptiv-value("font-size", 12, 12)
   line-height: $lh_body

.error__text
   display: none

.error
   label
      color: $red

   .error__text
      color: $red
      display: inline-block
   .form-control
      border-bottom-color: $red

form
   input.error, form-control.error
      border: 0!important
      border-bottom: 1px solid $red!important
      &+span
         color: $red

.hint 
   font-size: 10px
   line-height: 1.2

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active 
   transition: background-color 5000s ease-in-out 0s

input:-webkit-autofill
   -webkit-text-fill-color: $fontcolor !important

