.news-slider 
   overflow: hidden
   position: relative

   .slider-scroll 
      min-height: 195px
      padding: 0px 7px 15px
   .artc-item a
      word-break: break-word
      white-space: normal
   .mfp-arrow 
      top: 58px

   button.mfp-arrow
      background-color: transparent
      &:after
         background-image: url(../img/arrowBig.png)
         width: 20px
         height: 35px
         min-width: 20px
         min-height: 35px         


.str-slider-news 
   min-width: 3000px
   position: relative

